.custom-placeholder::placeholder { /*Show Placeholder in light grey*/
    background-color: inherit;
    color: #ccc;
    opacity: 1;
}

.custom-div {
    margin-top: 1rem;
}

.card {
    width: 50vw;
}

@media (max-width: 768px) {
    .card {
        width: 80vw;
    }
}