.footer-mobile {
    font-size: smaller;
    display: none;
}

.footer {
    font-size: small;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
  }